<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://filmustage.com/static/02069cfe178e75140440e87167e0802c/b6642/Decoding-cinema---A-deep-dive-into-film-studies-and-its-language.png);">
  <div class="container text-center">
    <h1>Welcome to <strong>Movie Watchlist</strong>!</h1>
  </div>
</div>
